<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link href="@Url.Content("~/Content/Site.css")"rel="stylesheet"type="text/css"/>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"type = "text/javascript"></script>

    <meta name="viewport" content="width=device-width"/>
    <title> Data Pegawai </title>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="/">TB SOLUSI PEMBANGUNAN</a></p>
            </div>
        </div>
    </header>

    <div id="body">
        <section class="featured">
            @Html.Label("NIP");
            @Html.TextBox("PegawaiId");
            <input type="button" 
                   name="btnGetById"
                   value="Data Pegawai Berdasarkan NIP"
                   onclick="GetPegawaiByIdJSON()"/>
            <input type="button"
                   name="btnGetAll"
                   value="Data Pegawai"
                   onclick="GetPegawaiJSON()"/>
        </section>
    <div id="employees"/>
    <div id="employeesEdit">
        <table>
            <tr>
                <td>@Html.Label("Nama")</td>
                <td>@Html.TextBox("txtNama")</td>
            </tr>
            <tr>
                <td>@Html.Label("Gender")</td>
                <td>@Html.TextBox("txtGender")</td>
            </tr>
            <tr>
                <td>@Html.Label("Alamat")</td>
                <td>@Html.TextBox("txtAlamat")</td>
            </tr>
            <tr>
                <td>@Html.Label("Kode Jabatan")</td>
                <td>@Html.TextBox("txtKode")</td>
            </tr>
            <tr>
                <td colspan="2"><label id="errMsg"/></td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script>
    function ResetForm() {
        $("#txtNama").val("");
        $("#txtGender").val("");
        $("#txtAlamat").val("");
        $("#txtKode").val("");
    }

    function GetPegawaiJSON() {
        $.getJSON("/api/pegawai", function (data) {
            var strHTML = "<table width='50%' style='border-width:thin;font-family:Verdana;font-size:small;border-collapse:collapse' border='1'>";
            strHTML += "<tr><th>NIP</th><th>Nama</th><th>Gender</th><th>Alamat</th><th>Kode Jabatan</th></tr>";

            $.each(data, function (key, val) {
                strHTML += "<tr>";
                strHTML += "<td width='20%' style='border:1 solid gray;'>" + val.nip + "</td>";
                strHTML += "<td width='20%' style='border:1 solid gray;'>" + val.nama + "</td>";
                strHTML += "<td width='20%' style='border:1 solid gray;'>" + val.jenis_kelamin + "</td>";
                strHTML += "<td width='20%' style='border:1 solid gray;'>" + val.alamat + "</td>";
                strHTML += "<td width='20%' style='border:1 solid gray;'>" + val.kodeJabatan + "</td>";
                strHTML += "</tr>";
            });
            $('#employees').append(strHTML);
        });
    }

    function GetPegawaiByIdJSON() {
        $.getJSON("/api/pegawai/" + $("#PegawaiId").val(),
            function (data) {
                if (data != null) {
                    $("#txtNama").val(data.nama);
                    $("#txtGender").val(data.jenis_kelamin);
                    $("#txtAlamat").val(data.alamat);
                    $("#txtKode").val(data.kodeJabatan);
                    $('#errMsg').html('');
                }
                else {
                    alert("Data pegawai tidak terdaftar di dalam database");
                    ResetForm();
                }
            })
            .fail(
                function (jqXHR, textStatus, err) {
                    $('#errMsg').html('Erorr: ' + err);
                });
        return false;
    }
</script>
